#nav-bar{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    padding: 0px 2em 0px 2em;
    color:  #e8fdff;
    background-color: #00a087;
    z-index: 10;
    .logo{
        height:80px;
        width: 80px;
        float: left;
    }
    .header{
        margin-left: 10px;
        position: fixed;
        font-size: 2em;
        line-height:80px;
        float:left;
    }
    .composeButton{
        display:flex;
        float:right;
        border-radius: 5px;
        margin-top: 2.5px;
        margin-right:50px;
        padding: 5px;
        background-color:#e5ffe5;
        color:#003300;
        font-size:20px;
        &:hover {
            filter: grayscale(100%);
            cursor:pointer;
        }
    }
    #composeIcon {
        height: 60px;
        width: 60px;
        &:hover {
            filter: grayscale(100%);
        }
    }
    
}

