.tweet {
    margin-top:10px;
    border-radius: 5px; 
    border: 1px solid rgba(175, 175, 175, 0.3);
    &:hover{
        border: 1px solid rgba(175, 175, 175, 1);
        #heart{
            display: inline-block;
        }
        header{
                opacity: 1;
            }
        footer{
            border-top: 1px solid rgba(175, 175, 175, 1);
        }
    }
    .user{
        opacity: 0.5;
        background-color: #eeeeee;
        display: flex;
        padding: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        .handle {
            margin-top:0px;
            flex-basis: 35%;
            padding-left:60px;
        }
        .avatars{
            height:80px;
            width: 80px;
            float:left;
            border-radius: 5px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25%;
        }
        .name {
            padding-left:10px;
            width:40%;
            margin-top: 0;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 30%;
        }
    }
    .content .text{
        margin-left:10px;
        min-height: 50px;
        word-wrap: break-word;
        padding-right: 10px;
    }
    footer {
        font-size:10px;
        border-top: 1px solid rgba(175, 175, 175, 0.3);
        display: flex;
        justify-content: space-between;
        .created_at {
            margin:25px 0px 0px 10px;
            height:40px;
            flex-basis: 75%;
        }
        
    }
    .twitterIcons {
        flex-basis: 10%;
        cursor: pointer;
        font-size: 1.5em;
        margin-top: 5px;
        color: red;
        &:hover{
            #heart{
                display: none;
            }
            #heartFilled{
                display: inline-block;
            }
        }
    }
    #heart{
        display: none;
        width: 40px;
        height: 40px;
        float: right;
        padding:1px;
        margin-top: 10px;
        margin-right: 10px;
    }
    #heartFilled{
        display:none;
        width: 40px;
        height: 40px;
        float: right;
        padding:1px;
        margin-top: 10px;
        margin-right: 10px;
    }

}
