.tweet {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(175, 175, 175, 0.3); }
  .tweet:hover {
    border: 1px solid #afafaf; }
    .tweet:hover header {
      opacity: 1; }
    .tweet:hover footer {
      border-top: 1px solid #afafaf; }
  .tweet .user {
    opacity: 0.5;
    background-color: #eeeeee;
    display: flex;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .tweet .user .handle {
      margin-top: 0px;
      flex-basis: 15%; }
  .tweet .avatars {
    height: 80px;
    width: 80px;
    float: left;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%; }
  .tweet .name {
    padding-left: 10px;
    width: 50%;
    margin-top: 0;
    flex-basis: 50%; }
  .tweet .content .text {
    margin-left: 10px;
    min-height: 50px;
    word-wrap: break-word;
    padding-right: 10px; }
  .tweet footer {
    font-size: 10px;
    border-top: 1px solid rgba(175, 175, 175, 0.3);
    display: flex;
    justify-content: space-between; }
    .tweet footer .created_at {
      margin: 25px 0px 0px 10px;
      height: 40px;
      flex-basis: 75%; }
    .tweet footer .likesCounter {
      margin-top: 30px;
      flex-basis: 5%; }
  .tweet .twitterIcons {
    flex-basis: 10%; }
    .tweet .twitterIcons:hover #heart {
      display: none; }
    .tweet .twitterIcons:hover #heartFilled {
      display: inline-block;
      cursor: pointer; }
  .tweet #heart {
    width: 40px;
    height: 40px;
    float: right;
    padding: 1px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block; }
  .tweet #heartFilled {
    display: none;
    width: 40px;
    height: 40px;
    float: right;
    padding: 1px;
    margin-top: 10px;
    margin-right: 10px; }
